body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ingredient-css{
  font-weight: bold;
  font-size:19px;
  margin-bottom: -1em ;
}

#foodmethod{
  white-space:pre-wrap;
}

#method-heading{
  font-weight: bold;
  font-size:19px;
}

#category{
  font-weight: bold;
  font-size:18px;
}

#nutrition-css{
  font-weight: bold;
  font-size:19px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  gap: 30px;
}

.dishContainer{
  flex: 1;
}

.MenuContainer{
  flex: 1;
}

.ShoppingContainer{
  flex: 1;
}

#filter-text{
  
}